html,
body,
#root {
	height: 100%;
}
body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: 'Roboto';
	src:
		url('/path/to/fonts/Roboto-Regular.woff2') format('woff2'),
		url('/path/to/fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src:
		url('/path/to/fonts/OpenSans-Regular.woff2') format('woff2'),
		url('/path/to/fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src:
		url('/path/to/fonts/Poppins-Regular.woff2') format('woff2'),
		url('/path/to/fonts/Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
}

a {
	display: block;
	text-decoration: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	outline: none !important;
}

input {
	outline: none !important;
	border: none;
}

.hidden-el {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	width: 100%;
} */

.ReactVirtualized__List::-webkit-scrollbar {
	width: 6px;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
	background-color: #d50a84;
	border-radius: 16px;
}

/* blueprint theming */

/* .bp5-button {
	background-color:
} */
