body {
	margin: 0;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* Your Fonts */
* {
	margin: 0;
	padding: 0;
}

a {
	display: block;
	text-decoration: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	outline: none !important;
}

input {
	outline: none !important;
	border: none;
}

.hidden-el {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	width: 100%;
} */

.ReactVirtualized__List::-webkit-scrollbar {
	width: 6px;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
	background-color: #D50A84;
	border-radius: 16px;
}
